/*
!/.gitignore
!/.htaccess
!/*.png
!/browserconfig.xml
!/favicon.ico
!/.editorconfig
!/LICENSE
!/README.md
!/redirect.php
!/wp-config-semla.php

!/bin/

!/sub/
/sub/*
!/sub/.htaccess

!/wp-content/
/wp-content/*
!/wp-content/.htaccess
!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/plugins/semla/
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/lax/

!/wp-admin/
/wp-admin/*
!/wp-admin/.htaccess
!/wp-admin/includes/
/wp-admin/includes/*
!/wp-admin/includes/.htaccess

!/wp-includes/
/wp-includes/*
!/wp-includes/.htaccess

.my.cnf
*.log
