/*
!/wp-content/
/wp-content/*

!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/plugins/semla/
/wp-content/plugins/semla/*
!/wp-content/plugins/semla/css/
!/wp-content/plugins/semla/js/

!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/lax/
/wp-content/themes/lax/editor-style.css
/wp-content/themes/lax/parts/

!/sub/
/sub/*
!/sub/test/

*.min.css
*.min.js
*.md
