/* Styles to modify the editor.

IMPORTANT: Bump the version in functions.php if you make changes.

The editor centers the content (in up to 6.9 at least), however that doesn't
match our theme so we need to fix that here. Also include anything else editor
specific.

This file assumes the page will be loaded in an iframe, which it should always
be as of WP 6.3 and all blocks are >= apiVersion 3 . If not, you may need to add
an extra .editor-styles-wrapper selector in front of some styles below to make
them more specific than whatever WordPress does.

Note: Now everything is in an iframe, this CSS could go in editor-styles.css or
be loaded in add_editor_style(array), however we have kept it separate for now.
*/
.editor-styles-wrapper {
	padding-left: 1em;
	padding-right: 1em;
}

/* heading is already centred, just need to set the width to wide */
.editor-visual-editor__post-title-wrapper > h1 {
	max-width: var(--wp--style--global--wide-size);
}

/* Change root container to match .inner in our styles */
.is-root-container {
	max-width: var(--wp--style--global--wide-size);
	margin-left: auto;
	margin-right: auto;
}

/* Note: WordPress styles with the following 2 rules (but minus "div") which get
last thing on the page (including after our editor-styles.css), so we add "div"
to make our rules more specific. */
div.block-editor-block-list__layout.is-root-container
	> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
div.block-editor-block-list__layout.is-root-container > .alignfull {
	margin-left: calc(50% - 50vw + 1em);
	margin-right: calc(50% - 50vw + 1em);
	max-width: calc(100vw - 2em);
	width: 100vw;
}

/* from #content in main styles */
.wp-block-post-content {
	overflow-wrap: break-word;
	word-wrap: break-word;
}

/* stops value from shrinking when using the Select tool */
@media (min-width: 480px) {
	.avf-same-line > .avf-value {
		width: 100%;
	}
}

/* Change post-date modified block to match what is done in a hook in PHP for
 * the public site, as that doesn't run in the editor.
 */
.wp-block-post-date__modified-date.entry-meta::before {
	content: 'Modified: ';
	position: relative;
}

/* stop border from headings displaying inside toc if it's floating */
@media (min-width: 720px) {
	.wp-block-semla-toc {
		z-index: 1;
	}
}

/* Widgets have different styling on the front end, so make sure that's
replicated in the backend */
.wp-block-widget-area__inner-blocks > .block-editor-block-list__layout > h2 {
	border-bottom: 0;
	padding-bottom: 0;
	font-size: 1.25em;
}
.wp-block-widget-area__inner-blocks > .block-editor-block-list__layout > :first-child {
	margin-top: 0;
}
